/* CSS for about section */

/* Left side */

#about-right {
    width: 50%;
    height: 100vh;
    float: right;
}

#about-left {
    display: block;
    background-color: #F6006A;
    color: #ffffff;
    width: 50%;
    height: 100vh;
    float: left;
}

#left-content {
    margin-top: 12vh;
}

#aboutme, #education {
    padding: 5%;
}

#sheridan {
    font-weight: bolder;
    font-size: 35px;
}

#program-name {
    font-size: 27px;
}

#completion {
    font-style: italic;
    font-size: 24px;
}

#aboutme {
    margin-bottom: 10%;
}

/* Right Side */
#right-content {
    margin-top: 12vh;
    padding: 5%;
}

/* Icons */
#programming, #database, #framework {
    padding: 10px;
    margin-right: 10px;
}

#icon-title {
    background-color: #F6006A;
    border-radius: 9px;
    color: #ffffff;
    font-weight: bolder;
    width: 100%;
    padding: 10px 0px 10px 10px;
    display: block;
}

#programming-icons, #database-icons, #framework-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 160px));
    grid-gap: 15px;
    justify-content: center;
    padding: 20px;
}

#icons svg{
    fill: #324761;
    width: 20%;
    vertical-align: middle;
    padding: 5px;
}

/* Text */
.about-title {
    font-family: 'AbrilFatFace';
    font-size: 50px;
    padding-bottom: 1%;
}
#about-text {
    padding-top: 10px;
    font-size: 25px;
}

/* Mobile */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    #about-left {
        padding-top: 10%;
        width: 100%;
        font-size: 10px;
        height: 100vh;
    }

    #education {
        padding-top: 5%;
    }

    #about-right {        
        width: 100%;
        height: 100vh;
    }

    .about-title {
        text-align: center;
    }

    /* Icons */
    #icons {
        padding-top: 5%;
    }

    #icons svg {
        width: 55%;
        min-width: 0px;
    }

    #programming-icons, #database-icons, #framework-icons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 60px));
        gap: 30px;
    }

    #programming-icons, #database-icons, #framework-icons span {
        text-align: center;
    }

    #right-content {
        margin-top: 15%;
    }

    #left-content {
        margin-top: 5%;
    }

    #aboutme {
        padding-bottom: 10%;
    }
}

/* Landscape */
@media only screen and (max-width: 767px) and (orientation:landscape) {
    #about-left {
        display: initial;
        width: 100%;
        height: 100%;
    }

    #about-right {
        width: 100%;
        height: 100%;
        margin-top: -25px;
    }

    #education {
        width: 40%;
        float: right;
    }
    #aboutme {
        width: 40%;
        margin-bottom: 0;
        float: left;
    }

    #about-text {
        font-size: 20px;
        margin-top: 10px;
    }

    #sheridan {
        font-weight: bolder;
        font-size: 32px;
        display: block;
        margin-bottom: -5px;
    }
    
    #program-name {
        font-size: 25px;
        display: block;
        margin-bottom: -10px;
    }
    
    #completion {
        font-style: italic;
        font-size: 20px;
    }

    #icons svg {
        width: 55%;
        min-width: 0px;
    }

    #programming-icons, #database-icons, #framework-icons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 60px));
        gap: 30px;
    }

    #programming-icons, #database-icons, #framework-icons span {
        text-align: center;
    }
}