/* Home Page CSS */

/* Left Pink */
.left {
    display: flex;
    justify-content: center;
}

/* Logo */
#logo {
    width: 80%;
    filter: drop-shadow(15px 15px rgba(0, 0, 0, 0.486));
}

/* Blurb */
.content-container {
    text-align: center;
    margin-top: 40%;
    margin-left: 10%;
    width: 80%;
}

#blurb {
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 24px;
}

/* Links */
#link-buttons {
    padding: 20px;
}

#github-logo, #twitter-logo {
    width: 15%;
    max-width: 70px;
    min-width: 50px;
    padding: 10px;
    color: #F6006A;
}

#github-logo:hover, #twitter-logo:hover {
    transition: 0.3s;
    color: #B7004F;
}

/* Mobile Layout */

/* Portrait */
@media only screen and (max-width: 767px) and (orientation:landscape) {
    /* Blurb */
    .content-container {
        margin-top: -4%;
    }

    #link-buttons {
        padding: 0px;
    }
}


@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* Left Pink */
    .left {
        width: 100%;
        height: 50%;
        top: 0;
        font-size: 10px;
    }
    
    .section {
        height: 100vh;
    }

    /* Right White */
    .right {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
    }
    
    /* Logo */
    #logo {
        width: 80%;
        max-height: 320px;
        margin-top: 9%;
        z-index: 1;
    }
    
    /* Blurb */
    .content-container {
        font-size: 15px;
        padding: 10px;
        text-align: center;
        margin-left: 2.5%;
        margin-top: 5%;
        width: 90%;
    }

    #blurb {
        font-size: 18px;
    }
    
    /* Links */
    #github-logo, #twitter-logo {
        width: 25%;
    }

    #link-buttons {
        padding: 5px;
    }

    #menu {
        z-index: 2;
    }
}