/* Global CSS for main layout */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: 'AbrilFatFace';
    src: url('../Fonts/abrilfatface-regular-webfont.woff') format('woff'),
         url('../Fonts/abrilfatface-regular-webfont.woff2') format('woff2');
}

/* All */
html, body {
    font-family: 'Roboto', sans-serif;
    color: #324761;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:active, a:focus {
    outline: 0;
    border: none;
}


/* Menu */
#menu {
    transition: 0.4s;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #FFFFFF;
    top: 0%;
    left: -50%;
    width: 350px;
    overflow: hidden;
    box-shadow: 5px 0px 5px rgba(51, 51, 51, 0.5);
}

#link-container {
    margin-top: 10vh;
    text-align: center;
}

#link-container a{
    font-family: 'AbrilFatFace', sans-serif;
    font-size: 50px;
    color: #324761;
    display: inline-block;
    padding: 5vh 0 5vh 0;
    text-decoration: none;
    width: 100%;
}

#link-container hr {
    width: 70%;
    border: 0;
    height: 2px;
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));*/
    background-color: #ccc;
}

#link-container a:hover {
    color: #F6006A;
    transition: 0.2s;
}

#menu-button {
    position: fixed;
    z-index: 3;
    right: 0;
    padding: 20px;
    border: none;
    background-color: transparent;
}

#menu-icon {
    width: 9%;
    min-width: 50px;
    max-width: 70px;
    fill: #B7004F;
}


/* Left / Pink */
.left {
    background-color: #F6006A;
    width: 50%;
    height: 100vh;
    float: left;
}


/* Right / White */
.right {
    width: 50%;
    height: 100vh;
    float: right;
}


/* Mobile Layout */
@media only screen and (max-width: 767px) and (orientation:portrait) {
    
    /* Menu */
    #menu {
        left: 0%;
        height: 0%;
        width: 100%;
        top: 0%;
        overflow: hidden;
    }

    #menu-icon {
        /* fill: #FFFFFF; */
        transition: 0.1s;
    }

    #link-container {
        margin-top: 9vh;
    }
}

@media only screen and (max-width: 767px) and (orientation:landscape) {
    
    /* Menu */
    #menu {
        height: 0%;
        width: 100%;
        top: 0%;
        left: 0%;
    }

    #menu-icon {
        fill: #B7004F;
        transition: 0.1s;
    }

    #link-container {
        margin-top: 9vh;
    }

}