#project-left {
    display: block;
    background-color: #F6006A;
    color: #ffffff;
    width: 50%;
    height: 100vh;
    float: left;
}

#project-content {
    padding: 5%;
    /* display: block; */
}

#projects {
    height: 100vh;
    display: initial;
}

#whole {
    width: 100%;
    background-color: #F6006A;
}

/* Text */
#projects-title {
    font-family: 'AbrilFatFace';
    font-size: 50px;
    color: #ffffff;
}