#project-left {
    display: block;
    background-color: #F6006A;
    color: #ffffff;
    width: 50%;
    height: 100vh;
    float: left;
}

#project-right {
    width: 50%;
    height: 100vh;
    float: right;
}

#project-content {
    padding: 5%;
    /* display: block; */
}

#projects {
    height: 100vh;
    display: initial;
}

#whole {
    width: 100%;
    background-color: #F6006A;
}

/* Text */
#projects-title {
    font-family: 'AbrilFatFace';
    font-size: 50px;
    color: #ffffff;
}

/* Mobile */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    #project-left {
        width: 100%;
    }

    #project-right {
        display: none;
    }

    #projects-title {
        text-align: center;
    }

    #project-content {
        margin-top: 15%;
    }
}

/* Landscape */
@media only screen and (max-width: 767px) and (orientation:landscape) {
    #project-left {
        width: 100%;
    }

    #project-right {
        display: none;
    }
}